:root {
    --white: #f7f2eb;
    --main : #eaedf0;
    --accent : #7096d1;
    --accent-2 : #ebedf0;
}

body{
    display: flex;
    align-items: start;
    align-items: center;
    background: var(--main);
}
.container{
    background: var(--white);
    border-radius: 25px;
    padding: 0 1em;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color : var(--accent);
    pre{
        padding: 10px;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

.header-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    word-spacing: 0.5rem;
}

.days,
.week {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 0 20px;
    div { display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        opacity: 0.5;
        }
    }


.days div {
        border-radius: 50%;
        opacity: 1;
        &:hover {
            background: var(--accent-2);
            color: #081f5c;
            cursor: pointer;
        }
}

.today {
    background: var(--accent);
    color: var(--white);
}
